{% load static %}

<button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#addModal"><img src="{% static './image/icons/add.svg' %}" /></button>

<div>
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addModalLabel">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'addTask' %}" method="post">
          {% csrf_token %}
          <div class="modal-body">{{ form.0.1 }}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
