{% load static %}

<div>
  <div class="modal fade" id="updateModal{{ task.pk }}" tabindex="-1" aria-labelledby="updateModal{{ task.pk }}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalTitle{{ task.pk }}Label">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'updateTask' task.pk %}" method="POST">
          {% csrf_token %}
          {% for task_form in form %}
            {% if task_form.0 == task.pk %}
              <div class="modal-body">{{ task_form.1 }}</div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            {% endif %}
          {% endfor %}
        </form>
      </div>
    </div>
  </div>
</div>
