{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>ToDo List - {% now 'd/m/Y' %}</h2>
  <div class="container">
    <div class="col-auto mb-3">
      {% include 'component/add_task.html' %}
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">To Do - 3</li>
          {% for task in tasks_todo %}
            {% include 'component/task.html' %}
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">In Progress - 4</li>
          {% for task in tasks_in_progress %}
            {% include 'component/task.html' %}
          {% endfor %}
        </ul>
      </div>
      <div class="col">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">Finished - 2</li>
          {% for task in tasks_is_complete %}
            {% include 'component/task.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
